{
	"gui": {
		"background": {
			"type": "background",
			"fileBody": "/interface/customConsole/body.png",
			"fileHeader": "/interface/customConsole/header.png",
			"fileFooter": "/interface/customConsole/footer.png"
		},
		"windowtitle": {
			"icon": {
				"file": "/objects/outpost/number0/icon.png",
				"position": [0,
				0],
				"type": "image",
				"zlevel": -1
			},
			"position": [0,
			-1],
			"subtitle": "Run the code on a go",
			"type": "title"
		},
		"codeScrollArea": {
			"type": "scrollArea",
			"visible": true,
			"rect": [13,
			42,
			287,
			190],
			"children": {
				"lineList": {
					"type": "list",
					"callback": "lineSelected",
					"schema": {
						"selectedBG": "/interface/customConsole/selectedline.png",
						"unselectedBG": "/interface/customConsole/unselectedline.png",
						"spacing": [0,
						1],
						"memberSize": [280,
						10],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/customConsole/unselectedline.png",
								"position": [3, 0]
							},
							"codeLine": {
								"type": "label",
								"position": [10,
								0],
								"hAnchor": "left",
								"value": "Replace me"
							},
							"deleteLine": {
								"type": "button",
								"position": [260, 2],
								"base": "/interface/customConsole/buttondeleteline.png",
								"hover": "/interface/customConsole/buttondeletelinehover.png",
								"callback": "deleteLine"
							}
						}
					}
				}
			}
		},
		"codeTextBox": {
			"type": "textbox",
			"position": [12, 16],
			"enterKey": "addLine",
			"maxWidth": 278,
			"hint": ">_"
		},
		"runButton": {
			"type": "button",
			"position": [297, 21],
			"caption": "Run",
			"callback": "runScript",
			"base" : "/interface/buttonactive.png",
			"hover" : "/interface/buttonactivehover.png"
		},
		"clearButton": {
			"type": "button",
			"position": [352, 21],
			"caption": "Clear",
			"callback": "clear",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png"
		},
		"saveButton": {
			"type": "button",
			"position": [352, 7],
			"caption": "Save",
			"callback": "saveFile",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png"
		},
		"loadButton": {
			"type": "button",
			"position": [297, 7],
			"caption": "Load",
			"callback": "loadFile",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png"
		},
		"returnLabel": {
			"type": "label",
			"position": [305, 188],
			"wrapWidth": 98,
			"vAnchor": "top"
		},
		"close": {
			"type": "button",
			"position": [392, 195],
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png"
		}
	},
	"scriptWidgetCallbacks": ["codeTextBox", "addLine", "runScript", "lineSelected", "clear", "saveFile", "loadFile"],
	"scripts": ["/interface/customConsole/customconsole.lua"]
}